form {
    input {
        width: 100%;
        padding: 0px;
        font-size: 20px;
        font-weight: 400;
        color: #443d3d;
    }
    strong {
        color: #838383;
        margin-left: 15px;
    }
    button {
        float: center;
    }
}