<mat-card>
  <mat-card-content>
    <form [formGroup]="searchFlights" (ngSubmit)="searchFlights.valid && search()">
      <div *ngIf="searchFlights.invalid && (searchFlights.touched || searchFlights.dirty)">
        <div *ngIf="searchFlights.get('sourceControl').invalid || searchFlights.get('destinationControl').invalid || searchFlights.get('flightsControl').invalid" class="alert alert-danger">
          Search-criteria can only be an available value
        </div>
        <div *ngIf="searchFlights.get('dateControl').invalid" class="alert alert-danger">
          Date is a required value
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="col-md-6">
          <input id="sourceControl" type="text" matInput placeholder="From" formControlName="sourceControl" [matAutocomplete]="origin"/>
          <mat-autocomplete #origin="matAutocomplete">
            <mat-option *ngFor="let option of filteredSources | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input type="text" matInput placeholder="To" formControlName="destinationControl" [matAutocomplete]="dest">
          <mat-autocomplete #dest="matAutocomplete">
            <mat-option *ngFor="let option of filteredDestinations | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="searchFlights.errors?.equality && (searchFlights.touched || searchFlights.dirty)" class="cross-validation-error-message alert alert-danger">
        Origin cannot match Destination.
      </div>
      <div *ngIf="searchFlights.errors?.invalidSearch && (searchFlights.touched || searchFlights.dirty)" class="cross-validation-error-message alert alert-danger">
        Invalid Search Criteria
      </div>
      <div class="form-group"><strong>and/or</strong></div>
      <div class="form-group">
        <mat-form-field class="col-md-6">
          <input type="text" matInput placeholder="Flight no." formControlName="flightsControl" [matAutocomplete]="flno">
          <mat-autocomplete #flno="matAutocomplete">
            <mat-option *ngFor="let option of filteredFlights | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input matInput [matDatepicker]="picker" formControlName="dateControl" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button type="submit" mat-raised-button class= "btn btn-primary col-md-12" [disabled]="searchFlights.invalid">Search Flight(s)</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
