mat-icon {
    vertical-align: middle;
}

.list-item {
    font-size: 15px;
    font-family: sans-serif;
    color: #363030;
}

.largeIcon {
    font-size: 60px;
}

.status-div {
    font-size: 24px;
    color: #363030;
}
